/** Imports */
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@700&family=Roboto&display=swap');
/** font-family: 'Oxygen', sans-serif; font-family: 'Roboto', sans-serif; */


/** Color Scheme */
:root {
  --text: #f0f1e4;
  --background: #0f1009;
  --primary: #c7cca3;
  --secondary: #2f4d28;
  --accent: #68ac6e;
  --link: #70aeff;
}

.light-mode {
  --text: #1a1b0e;
  --background: #f5f6ef;
  --primary: #3c411b;
  --secondary: #b8d7b2;
  --accent: #5fb567;
  --link: #236ac7;
}

.dark-mode {
  --text: #f0f1e4;
  --background: #0f1009;
  --primary: #c7cca3;
  --secondary: #2f4d28;
  --accent: #68ac6e;
  --link: #70aeff;
}


/** Wildcards */
* {margin: 0px; padding: 0px;}
body {background-color:var(--background);}
div.button {border: 2px solid var(--accent);background-color: var(--secondary);padding: 10px;width: 200px;margin-right: 10px;margin-bottom: 10px;border-radius: 10px;}
div.button:hover {border: 1px solid var(--secondary);background-color: var(--accent);}
a.buttonurl {text-decoration: none;font-size: 18px;font-family: 'Oxygen', sans-serif;color: var(--link);}
h1 {color: var(--text);font-family: 'Oxygen', sans-serif;}
p {color: var(--text);font-size: 18px;font-family: 'Roboto', sans-serif;}

/** Header */
div.header {border-bottom: 3px solid var(--accent);}
h1.title {text-align: center;color:var(--text);}
div.topbuttons {display:flex;flex-wrap:wrap;justify-content:center;width:auto;flex-direction: row;text-align: center;}
button.themeswitcher {position:fixed; right: 20px;top: 15px;}

/** Content*/
div.maincontent {display:flex;flex-wrap:wrap;justify-content:center;width:auto;flex-direction: row;text-align: center;}
div.whatisthis {width: 100%; border-bottom: 2px dotted var(--primary);margin-bottom: 6px;padding-bottom: 6px;}
div.embedgroup {display:flex;flex-wrap:wrap;justify-content:center;width:auto;flex-direction: row;text-align: center;}
div.embed {width:95vw; padding: 10px;}
iframe.emb {width: 100%;height: 600px; border: 3px solid black ;justify-content: left;}
iframe.twelve {left: 0px;height:688px;resize: both;min-width: 450px;min-height: 500px;}

/** Firefox iframe Resize Workaround */
.resizer { display:flex; margin:0; padding:0; resize:horizontal; overflow:hidden }
.resizer > .resized { flex-grow:1; margin:0; padding:0; border:0 }

/** Footer */
div.footer {display:flex;flex-wrap:wrap;justify-content:center;width:auto;flex-direction: row;text-align: center;border-top: 3px solid var(--accent);padding-top:10px;}
div.contact {margin-left: 15px;width: 45%;}
div.other

div.growpage {height: 300px;}


@media screen and (max-width: 600px) {
  h1.title {width: 75%;}
}