* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {background-color: white;}

#contenu {
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: center;
}

.contenuItem {
    border: 1px solid black;
    border-radius: 40px;
    background-image: linear-gradient(green 0%, white 15%);
    width: 250px;
    height: 140px;
    margin-bottom: 15px;
    margin-right: 30px;
    margin-left: 20px;
}

.contenuItem h4 {
    text-align: center;
    font-size: 20px;
}
  
  
.contenuItemContenu::first-letter {
    font-size: 200%;
}

.contenuItemContenu {
    text-align: center;
}

                  
#menu {
    display: flex;
    flex-flow: wrap;
    justify-content: flex-end;
}
  
.menuItem {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 10px;
    border-color: #4CAF50;
    border-style: solid;
    border-width: 1px;
}

.menuItem a {
    color: black;
    text-decoration: none;
}

.menuItem a:hover {
    color: #4CAF50;
}


.menuItem.active {
    background-color: black;
}

.menuItem.active a {
    color: white;
}
                 

footer {
    text-align: center;
}